html,
body {
    margin: 0;
    padding: 0;
}

.app-layout {
    min-height: 100dvh;
    background: linear-gradient(180deg,
            #f8f9fa 0%,
            #eef1f5 100%);
}

body {
    background: linear-gradient(180deg,
            #f8f9fa 0%,
            #eef1f5 100%);
}